<html>
	<head>
		<title> Seleccionar Horario </title>
	</head>
	<body>
				<p>Pelicula: {{peli.nombre}}</p>
				<p>Genero: {{peli.genero}}</p>
				<p>Estrellas: {{peli.estrellas}}</p>
				<p>Cine: {{cine.nombre}}</p>
				<p>Elija en que horario quiere ver la pelicula: </p>
				<form action = "/butacas" method="post" >
					<input type="hidden" name="idpeli" value="{{peli.idPelicula}}">
					<input type="hidden" name="idcine" value="{{cine.idCine}}">
				<select name="horarios">
  						{%for item in lista_horarios%}
  						<option value= "{{item.idHorario}}">{{item.fecha_hora}}</option>
					 	{%endfor%}
				</select>

				<p href = "/butacas"> <input type = "submit" value = "Confirmar" ></p>
				</form>
	</body>
</html>