<html>
	<head>
		<title> Menu </title>
	</head>
	<body>
		<p> Bienvenido a GetarCine</p>
		<p><a href = "/registroAdmin"> <input type = "submit" value = "Iniciar Sesion como Administrador" ></a></p>
		<p><a href = "/login"> <input type = "submit" value = "Iniciar Sesion" ></a></p>
		<p><a href = "/signup"> <input type = "submit" value = "Registrarse" ></a></p>
		<p><a href = "/Pelis"> <input type = "submit" value = "Armar Reserva" ></a></p>
		<p><a href = "/ver_reservas"> <input type = "submit" value = "Ver Reservas" ></a></p>
		<p><a href = "/Cerrar_Sesion"> <input type = "submit" value = "Cerrar Sesion" ></a></p>
	</body>
</html>