<html>
	<head>
		<title> Seleccionar Pelicula </title>
	</head>
	<body>
				<p>Bienvenido {{p.nombre}} {{p.apellido}}</p>
			    <p>¿Qué película quiere ver?: </p>
	<form action = "/horarios" method="post" >
				<select name="pelicula">
  						{%for item in lista_peliculas%}
  						<option value= "{{item.idPelicula}}" >{{item.nombre}}</option>
					 	{%endfor%}
				</select>

				<p>¿En qué cine quiere ver la pelicula</p>
				<select name="cine">
  						{%for item in lista_cines%}
  						<option value= "{{item.idCine}}" >{{item.nombre}}</option>
					 	{%endfor%}
				</select>

				<p><a href = "/horarios"> <input type = "submit" value = "Confirmar" ></a></p>
	</form>
	</body>
</html>