<html>
	<head>
		<title> Seleccionar Pelicula </title>
	</head>
	<body>
				<p>Bienvenido {{nombre}} {{apellido}}</p>
			    <p>¿Qué película desea ver?: </p>
				 <select>
  						{%for item in lista_peliculas%}
  						<option value=Pelicula >{{item.nombre}}</option>
					 	{%endfor%}
				</select>

				<p>¿En qué cine quiere ver la pelicula</p>
				<select>
  						{%for item in lista_cines%}
  						<option value=Cine >{{item.nombre}}</option>
					 	{%endfor%}
				</select>

				<p>¿En qué horario quiere ver la pelicula</p>
				<select>
  						{%for item in lista_horarios%}
  						<option value=Cine >{{item.nombre}}</option>
					 	{%endfor%}
				</select>
	</body>
</html>