<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion como administrador</title>
</head>
<body>
    <form action="/registroAdminAction" method="POST">
         <p>Ingrese su nombre:</p>
         <p><input type = "text" name = "nombre" placeholder="nombre"></p>
         <p>Ingrese su apellido:</p>
         <p><input type = "text" name = "apellido" placeholder="apellido"></p>
         <p><a href = "/AdminPelis"> <input type = "submit" value = "Confirmar" ></a></p>
    </form>
</body>
</html>