<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Reservas</title>
</head>
<body>
        <p>Reservas del cliente {{Pe.nombre}} {{Pe.apellido}}</p>
        {%for item in lista_reservas%}
        <p>ID: {{item.idReserva}}</p>
        <p>Pelicula: {{Peli.nombre}}</p>
        <p>Sala: {{item.Horarios_Sala_idSala}}</p>
        <p>Butaca: {{B.idButaca}}</p>
        <p>Horario: {{Horarios_idHorario}}</p>
        <p>Precio: ${{B.precio_butaca}}</p>
        {%endfor%}
</body>
</html>