<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/DarDeAltaPeliAction" method="POST">
         <p>Ingrese el nombre de la pelicula:</p>
         <p><input type="text" name="nombre" placeholder="nombre"></p>
         <p>Ingrese el genero al que pertenece:</p>
         <p><input type="text" name="genero" placeholder="genero"></p>
         <p>Ingrese la cantidad de estrellas:</p>
         <p><input type = "text" name = "estrellas" placeholder="estrellas"></p>
         <p><input type="submit" value="Confirmar" ></p>
    </form>
</body>
</html>