<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <p>Menu para Administradores</p>
        <p><a href = "/DarDeAltaPeli"> <input type = "submit" value = "Dar de alta Pelicula" ></a></p>
		<p><a href = "/DarDeBajaPeli"> <input type = "submit" value = "Dar de baja Pelicula" ></a></p>
		<p><a href = "/modificar_peli"> <input type = "submit" value = "Modificar Pelicula" ></a></p>
        <p><a href = "/MostrarPelis"> <input type = "submit" value = "Mostrar Peliculas en cartelera" ></a></p>
        <p><a href = "/"> <input type = "submit" value = "Volver al menu de inicio" ></a></p>
</body>
</html>