<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <form action="/signupAction" method="POST">
         <p>Ingrese su nombre:</p>
         <p><input type="text" name="nombre" placeholder="nombre"></p>
         <p>Ingrese su apellido:</p>
         <p><input type="text" name="apellido" placeholder="apellido"></p>
         <p>Ingrese su contraseña:</p>
         <p><input type = "password" name = "contraseña" placeholder="contraseña"></p>
         <p><input type="submit" value="Confirmar" ></p>
    </form>
</body>
</html>