<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Reservas</title>
</head>
<body>
        <p>Reservas del cliente {{Pe.nombre}} {{Pe.apellido}}</p>
        {%for item in lista_reservas%}
        <p>ID: {{item.idReserva}}</p>
        <p>Pelicula: {{item.PeliculaEnReserva().nombre}}</p>
        <p>Sala: {{item.Horarios_Sala_idSala}}</p>
        <p>Butaca: {{item.ButacaEnReserva().idButaca}}</p>
        <p>Horario: {{item.HorarioEnReserva().fecha_hora}}</p>
        {%endfor%}
        <p><a href = "/"> <input type = "submit" value = "Volver al Menu" ></a></p>
</body>
</html>